<p id="notice"><%= notice %></p>

<h1>Postes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postes.each do |poste| %>
      <tr>
        <td><%= poste.title %></td>
        <td><%= poste.description %></td>
        <td><%= link_to 'Show', poste %></td>
        <td><%= link_to 'Edit', edit_poste_path(poste) %></td>
        <td><%= link_to 'Destroy', poste, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poste', new_poste_path %>
